{% extends "base.html" %} {% block content %}
<div class="jumbotron" id="hero">
	<h1 class="wow animate__zoomIn" data-wow-duration="1s">About Us</h1>
</div>
<section>
	<div class="column narrow wow animate__fadeInUp" data-wow-duration="1s">
		<h1>My Mission</h1>
		<p>My mission is to create a high quality app to meet the needs of my one customer, john. User feedback is crucial to improving
			this app, so I'd love to hear your feedback! I initially made the app over the holidays, but I gradually improved it after
			until it became functional.</p>
		<p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
			dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen
			book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
			It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently
			with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
		<p>Hey, I'm Matthew Tao, the CEO of the company. Here at Blogg, we're always looking to improve our user experience and
			aim to make a high quality product everytime. I aim to encompass the school values of:</p>
		<ul>
			<li>Respect</li>
			<li>Excellence</li>
			<li>Integrity</li>
			<li>Service</li>
			<li>Compassion</li>
		</ul>
		<p>I hope that through following these, I can become a great man just like Matua Tee.</p>
	</div>
</section>
{% endblock %}